body {
  background-color: aquamarine;
}
h1 {
  text-align: center;
  font-size: 100px;
}
.container {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.white {
  position: relative;
  width: 60%;
  height: 200px;
  background-color: white;
  box-shadow: 20px 20px 20px 5px;
  border-radius: 20px;
}
.picture {
  position: absolute;
  width: 200px;
  height: 200px;
  background-image: url("./Twenty_One_Pilots_-_Clancy.png");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin-top: -75px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}
.whitedot {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}
.buttonsec {
  transform: translate(0, -50%);
  display: flex;
  gap: 80px;
  margin-left: 400px;
  margin-top: 100px;
}
.but {
  font-size: 80px;
  background: none;
  border: none;
}
.rotate {
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 100px 100px;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
audio {
  position: absolute;
  left: 50%;
  top: 300px;
}
h2 {
  position: absolute;
  z-index: 2;
  transform: translate(0, -60px);
}
